<h3 class="text-center bg-success text-white py-2">this is for Accordian</h3>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-accord1>
        <h3>NODE</h3>
        <p> <strong>NODE</strong>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis repellendus iure soluta veritatis at praesentium rerum! Enim consectetur fugit iste autem tenetur quam blanditiis rerum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim iste illum a eaque
          repellat!</p>
      </app-accord1>
      <app-accord1>
        <h3>JS</h3>
        <p> <strong>JS</strong>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis repellendus iure soluta veritatis at praesentium rerum! Enim consectetur fugit iste autem tenetur quam blanditiis rerum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim iste illum a eaque
          repellat!</p>
      </app-accord1>
      <app-accord1>
        <h3>Angular</h3>
        <p> <strong>Angular</strong>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis repellendus iure soluta veritatis at praesentium rerum! Enim consectetur fugit iste autem tenetur quam blanditiis rerum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim iste illum a eaque
          repellat!</p>
      </app-accord1>
     
    </div>

    <div class="col-md-6">
      <app-accord2>
        <h3>Directives</h3>

        <p>In Angular, Directives are defined as classes that can add new behavior to the elements in the template or modify existing behavior. The purpose of Directives in Angular is to maneuver the DOM, be it by adding new elements to DOM or removing elements and even changing the appearance of the DOM elements</p>
      </app-accord2>
      <app-accord2>
        <h3>Components</h3>
        <p>Each component consists of:

          An HTML template that declares what renders on the page
          A TypeScript class that defines behavior
          A CSS selector that defines how the component is used in a template
          Optionally, CSS styles applied to the template</p>
      </app-accord2>
      <app-accord2>
        <h3>Template</h3>
        <p>In Angular, a template is a blueprint for a fragment of a user interface (UI). Templates are written in HTML, and special syntax can be used within a template to build on many of Angular's features.</p>
      </app-accord2>
    </div>
  </div>
</div>
